.MoneyHistoryPage-content {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  position: relative;
  overflow: auto;
  overflow-wrap: break-word;
  border-radius: var(--border-radius);
  background: var(--body-bg);
  padding: 20px;

  .moneyHistoryUser {
    .Avatar {
      .Avatar--size(24px);
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .transferHistoryContainer {
    border: 1px dotted var(--control-color);
    padding: 10px;
    border-radius: 4px;
  }
}